* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav .nav-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin: 30px 240px;
}

nav .nav-icon h2 {
    font-size: 49px;
}

.nav-icon h2 span {
    color: #FF42A5;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
    font-size: 17px;
    color: #3C354F;
    align-items: center;
    margin: 30px 240px;
}

nav ul li button {
    font-size: 17px;
    background-color: rgba(11, 2, 35, 0.10);
    border: none;
    width: 200px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

nav ul li button span {
    color: red;
}

/* nav complete */

/* play-description */
.play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    width:100%;
}

.play .play-description {
    margin-left: 240px;
    padding: 130px 0;
}

.play .play-description h2 {
    font-size: 40px;
    font-weight: 600;
}

.play .play-description h1 {
    font-size: 80px;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play .play-description>ul {
    padding-top: 18px;
    padding-bottom: 30px;
    list-style: none;
    margin-left: -30px;
}

.play .play-description ul>li {
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
}

.play .play-description ul li>i {
    color: #F948B2;
}

.play .play-description button {
    height: 50px;
    width: 120px;
    color: white;
    border-radius: 30px;
    border: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    /* display:flex;
    gap:20px;
    justify-content: center;
    align-items: center; */
}

.play .play-description .sign {
    background-color: #F948B2;
}

.play .play-description .go {
    background-color: #4EC5F7;
}

.play img {
    margin-right: 240px;
}

/* complete header */

/* gamer section start */
.gamer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 240px;
    
    
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%) ;
    /* width:100%; */
}

.gamer h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 24px;
    font-size: 40px;
    text-align: right;
}

.gamer p {
    line-height: 30px;
    font-size: 15px;
    color: #534C64;
    text-align: right;
    padding-bottom: 24px;
}
.gamer .gamer-description{
    text-align:right;
}

.gamer .gamer-description button {
    text-align: right;
    padding: 21px 40px;
    /* margin-left: 400px; */
    border-radius: 30px;
    border:none;
    margin-bottom:20px;
    background-color: #F948B2;
    color:white;
    font-size:15px;
} 
.gamer .gamer-description h3{
    line-height: 30px;
}
.gamer .gamer-description h3>span{
   font-weight: 400;
   color:#534C64;
}
/* media query */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

}